@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
body{
    background-color: black;
}
#canvas1{
    border:3px solid white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:1000px;
    width:500px;
    background:pink;
}
header ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
div{
    position: absolute;
    top: 100px;
    left: 0;
    height:500px;
    width: 100%;
    justify-content: center;
}
.sec{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 23px;
}
.sec h2{
    position:relative;
    text-align:center;
    font-size: 2em;
   margin-bottom:10px;
   color:#fff;
}

.sec li{
    font-size: 1.2em;
    color:#fff;
    list-style:none;
    padding: 6px 15px;
    display:flex;
    justify-content:left;
}
div ul li a:hover,
div ul li a.active{
    background: #fff;
    color: #2b1055;
}
div ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
div ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
div ul li{
    list-style: none;
    margin-left: 20px;
}