body{
    background:black;
}
#canvas1 {
    position:relative;
    width:800px;
    height:700px;
}
#container{
    position:absolute;
    width:800px;
    transform:translate(-50%,-50%);
    top: 50%;
    left:50%;
    font-size:25px;
}
#slider{
    width:100%;
}
p{
    color:pink;
}
div ul li a:hover,
div ul li a.active{
    background: #fff;
    color: #2b1055;
}
div ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
div ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
div ul li{
    list-style: none;
    margin-left: 20px;
}