@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}
header{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 100px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:2000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size:2em;
    text-transform:uppercase;
    letter-spacing:2px;
}
header ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
}
div{
    position: absolute;
    top: 100px;
    left: 0;
    height:500px;
    width: 100%;
    justify-content: center;
}
.sec{
    position:relative;
    padding: 100px;
    justify-content: center;
    z-index:2000;
}
.sec h2{
    text-align:center;
    font-size: 2em;
   margin-bottom:10px;
   color:#fff;
}
.sec p{
    font-size: 1.2em;
    color:#fff;
}
.sec li{
    font-size: 1.2em;
    color:#fff;
    list-style:none;
    padding: 6px 15px;
    display:flex;
    justify-content:left;
}
div ul li a:hover,
div ul li a.active{
    background: #fff;
    color: #2b1055;
}
div ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
div ul{
    display:flex;
    justify-content:center;
    align-items: center;
}
div ul li{
    list-style: none;
    margin-left: 20px;
}
#canvas1{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(black, black);
}